<launch>	  
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	    
		<arg name="world_name" value="$(find rover1)/worlds/emptyworlds.world"/>	    
		<arg name="gui" value="true"/>	  
	</include>	

    <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find rover1)/urdf/rover2.xacro'" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model myrobot" />

    <!-- Load joint controller configurations from YAML file to parameter server -->

  <rosparam file="$(find rover1)/config/rover2_config.yaml" command="load"/>

   <!--load the controllers-->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="/rover2"
    args="joint_state_controller
      motorsxfront
      motorsxrear
      motordxfront
      motordxrear
      steerdxfront
      steerdxrear
      steersxrear
      steersxfront">
  </node>


   <!--convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro.py  '$(find rover1)/urdf/rover2.xacro' " />
    <remap from="/joint_states" to="/rover2/joint_states" /></node>
    
    
</launch>